<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipuri de masini</title>
</head>
<body>
<div align="center">
    <h1>Tipuri de masini.</h1>
    <a href="new">Adauga o masina noua</a>
    <br/><br/>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Brand</th>
            <th>Tipul caroseriei</th>
            <th>An fabricatie</th>
            <th>Pretul masinii</th>
            <th>Actiuni</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.id}">ID</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.tipcaroserie}">Tipul caroseriei</td>
            <td th:text="${product.anfabricatie}">An fabricatie</td>
            <td th:text="${product.pret}">Pretul masinii</td>
            <td>
                <a th:href="@{'/edit/' + ${product.id}}">Editeaza</a>
                &nbsp;
                &nbsp;
                <a th:href="@{'/delete/' + ${product.id}}">Sterge</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>